name: Release

on:
  workflow_dispatch:
  release:
    types: [published, edited]
  push:
    branches: main
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '**.txt'
  pull_request:
    branches: main
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '**.txt'

jobs:
  release_windows_fast:
    name: Build

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nuitka PyQtWebEngine

      - name: Saving all resources
        uses: actions/upload-artifact@v5
        with:
          name: PyQt5
          path: |
            /Users/runner/hostedtoolcache/Python/3.11.9/arm64/lib/python3.11/site-packages/PyQt5

      - name: Pack
        run: |
          SITE="/Users/runner/hostedtoolcache/Python/3.11.9/arm64/lib/python3.11/site-packages"

          python3 -m nuitka --standalone \
            --enable-plugin=pyqt5 \
            --nofollow-import-to=PyQt5.QtWebEngineWidgets \
            --include-qt-plugins=sensible \
            --include-data-dir=$SITE/PyQt5/Qt5=Qt5 \
            --show-memory \
            --show-progress \
            --macos-create-app-bundle \
            --assume-yes-for-downloads \
            --macos-app-version=3.0.270 \
            --macos-app-name=ChiXie \
            --macos-app-mode=ui-element \
            --output-dir=output main.py

          cp -v $SITE/PyQt5/QtWeb*.abi3.so output/main.app/Contents/MacOS/PyQt5/
          mv output/main.app/Contents/MacOS/Qt5/lib/QtWebEngineCore/Versions/5/QtWebEngineCore output/main.app/Contents/MacOS/
          rm -rf output/main.app/Contents/Resources

          ls .
          ls $SITE/
          cd output
          open main.app 2>&1

      - name: Saving all wheels
        uses: actions/upload-artifact@v5
        with:
          name: test
          path: |
            output
