name: Release

on:
  workflow_dispatch:
  release:
    types: [published, edited]
  push:
    branches: main
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '**.txt'
  pull_request:
    branches: main
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '**.txt'

jobs:
  release_windows_fast:
    name: Build

    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyqt5 nuitka PyQtWebEngine

      - name: Pack
        run: |
          python3 -m nuitka --standalone --enable-plugin=pyqt5 --nofollow-import-to=PyQt5.QtWebEngineWidgets --show-memory --show-progress --macos-create-app-bundle --assume-yes-for-download --macos-app-version=3.0.270 --macos-app-name=ChiXie --output-dir=output main.py

          ls .
          ls /Users/runner/hostedtoolcache/Python/3.11.9/arm64/lib/python3.11/site-packages/
          cp -v /Users/runner/hostedtoolcache/Python/3.11.9/arm64/lib/python3.11/site-packages/PyQt5/QtWebEngine.abi3.so output/main.app/Contents/MacOS/PyQt5
          cp -v /Users/runner/hostedtoolcache/Python/3.11.9/arm64/lib/python3.11/site-packages/PyQt5/QtWebEngineCore.abi3.so output/main.app/Contents/MacOS/PyQt5
          cp -v /Users/runner/hostedtoolcache/Python/3.11.9/arm64/lib/python3.11/site-packages/PyQt5/QtWebEngineWidgets.abi3.so output/main.app/Contents/MacOS/PyQt5
          cd output
          main.app

      - name: Saving all wheels
        uses: actions/upload-artifact@v5
        with:
          name: test
          path: output
